* {
  margin: 0;
  padding: 0;
  box-sizing: border-sizing;
}

.nav.container {
  background-color: darkblue;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10px;
  font-weight: bold;
}

.nav.container li {
  list-style-type: none;
  display: inline;
  padding: 10px;
  font-size: 18px;
}

.nav h3 {
  margin-right: 100px;
  font-size: 24px;
}

.header.container {
  background-color: darkblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 680px;
}

.header.text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 130px;
}

.header h1 {
  font-size: 48px;
  font-weight: bold;
}

.header p {
  margin-bottom: 5px;
  margin-right: 70px;
  margin: auto;
}

.header button {
  border-radius: 8px;
  width: 75px;
  padding: 5px;
  background-color: #3882f6;
  color: white;
  font-weight: bold;
  border: none;
  margin: auto;

}

.header.img {
  display: flex;
  justify-content: center;
  height: 400px;
  width: 300px;
  margin-right: 100px;
}